<figure>
  <div class="frame">
    <GracefulImage images={track.images} alt={track.album} blur={false} />
  </div>

  <figcaption>
    <p>{track.title} - {track.artist}</p>
    <p class="secondary">via {track.service}</p>
  </figcaption>
</figure>

<script>
  export default {
    data() {
      return {
        track: {
          title: '',
          album: '',
          artist: '',
          images: [],
          service: ''
        }
      }
    },

    components: {
      GracefulImage: './GracefulImage.html'
    }
  }
</script>

<style>
  figure {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: center;
    margin: 0;
    /* right now this is to pad the top menu. total hack */
    padding: 48px 24px 0;
    text-align: center;
  }

  figcaption {
    font-weight: 500;
    margin: 40px auto 16px;
  }

  figcaption p {
    margin: 0;
  }

  .secondary {
    font-weight: 300;
    opacity: 0.68;
    font-size: 0.9rem;
  }

  .frame {
    align-items: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.17);
    display: flex;
    filter: saturate(1.2);
    flex: 0 1;
    justify-content: center;
    margin: 0 auto;
    max-width: 450px;
    overflow: hidden;
    position: relative;
    transition: 0.4s all;
    width: 100%;
  }

  /**
   * Maintains 1:1 aspect ratio
   */
  .frame:before {
    content: "";
    display: block;
    padding-top: 100%;
    width: 100%;
    z-index: 1;
  }

  /**
   * Adds a sharp edge around the album to make it pop
   */
  .frame:after {
    border: 1px solid rgba(255, 255, 255, 0.27);
    content: "";
    position: absolute;
    mix-blend-mode: overlay;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
