<div ref:graphic class:blur="blur"
  style="background: #040404 url({displayed}) 50% 50% no-repeat / cover;">
  {#if src}
    <img on:load="updateImage(event)" on:error="fallback()" src={src} alt={alt} hidden>
  {/if}
</div>

<script>
  const BLANK = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='

  export default {
    data() {
      return {
        alt: '',
        blur: false,
        displayed: BLANK,
        index: 0,
        images: [],
      }
    },

    onupdate(changes) {
      if ('images' in changes) {
        this.set({ index: 0 })
      }
    },

    computed: {
      src: ({ index, images }) => images[index] || BLANK
    },

    methods: {
      updateImage(event) {
        this.set({ displayed: event.target.src })
      },
      fallback() {
        const { index, images } = this.get()

        this.set({
          index: Math.min(index + 1, images.length - 1, 0)
        })
      }
    }
  }
</script>

<style>
  /**
   * This image is a utility for a smooth loading experience. It is
   * hidden from the page otherwise.
   */
  img {
    height: 0;
    left: 0;
    opacity:0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 0;
  }

  ref:graphic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.4s all;
    width: 100%;
  }
</style>
