<main>
  <NowPlaying group={group} />
</main>

<menu>
  {#if houses.length > 1}
    <select name="house" class="dropdown">
      {#each houses as house}
        <option>{house.id}</option>
      {/each}
    </select>
  {/if}
  {#if groups.length > 1}
    <select name="group" class="dropdown">
      {#each groups as group}
        <option value={group.id}>{group.name}</option>
      {/each}
    </select>
  {/if}
</menu>

<script>
  export default {
    components: {
      NowPlaying: '../components/NowPlaying.html'
    },

    data() {
      return {
        houses: [],
        group: null,
        house: null
      }
    },

    computed: {
      house: ({ houses }) => houses[0],
      groups: ({ houses }) => houses.length ? houses[0].groups : [],
      group: ({ houses }) => houses.length ? houses[0].groups[0] : {}
    }
  };
</script>

<style>
  main {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }

  menu {
    flex-shrink: 0;
    margin: 0;
    position: absolute;
    top: 4px;
    left: 0;
    padding: 4px;
    text-align: center;
    width: 100%;
  }

  select {
    background: transparent;
    border-radius: 3px;
    padding: 4px 8px 4px 4px;
    border: 0;
    color: white;
    display: inline-block;
    font: inherit;
    font-size: 0.8em;
    opacity: 0.54;
    margin: 4px 8px;
    text-align: right;
    transition: 0.3s all;
  }

  select:hover,
  select:focus{
    background: #000;
    opacity: 1;
  }
</style>
