<Backdrop>
  <GracefulImage images={track.images} />
</Backdrop>

<Tracker group={group} track={track} />

<script>
  import { Track } from '../data/track'

  export default {
    data() {
      return {
        group: {
          name: 'No group active',
          progress: 0,
          duration: 0
        },
        track: Track.empty()
      }
    },

    oncreate() {
      let { group } = this.get()
      let { socket } = this.store.get()

      this.track = new Track(group.id, socket, track => this.set({ track }))
    },

    onupdate({ changed, current }) {
      if ('group' in changed) {
        console.log("CHANGING TO", current.group.name)
        this.track.swap(current.group.id)
      }
    },

    ondestroy() {
      this.track.close()
    },

    components: {
      Tracker: './Tracker.html',
      GracefulImage: './GracefulImage.html',
      Backdrop: './Backdrop.html'
    }
  }
</script>
