<div class="container">
  <div class="backdrop" aria-hidden="true" style="background: url({track.image}) 50% 50% no-repeat /cover;"></div>
  <Tracker group={group} track={track} />
</div>

<script>
  import get from 'lodash/get'

  export default {
    data() {
      return {
        group: {
          name: 'No group active',
          progress: 0,
          duration: 0
        },
        status: null,
        meta: null
      }
    },

    computed: {
      track: ({ status, meta }) => {
        return {
          isPlaying: get(status, 'playbackState') === 'PLAYBACK_STATE_PLAYING',
          canSkip: get(status, 'availablePlaybackActions.canSkip'),
          canSkipBack: get(status, 'availablePlaybackActions.canSkipBack'),
          canDisplay: meta !== null,
          title: get(meta, 'currentItem.track.name', ''),
          image: get(meta, 'currentItem.track.imageUrl', ''),
          artist: get(meta, 'currentItem.track.artist.name', ''),
          album: get(meta, 'currentItem.track.album.name', ''),
          position: get(status, 'positionMillis', 0),
          duration: get(meta, 'currentItem.track.durationMillis', 0),
          status: get(status, 'playbackState'),
          service: get(meta, 'currentItem.track.service.name', ''),
        }
      }
    },

    oncreate() {
      const { group } = this.get()
      const { socket } = this.store.get()

      this.playback = socket.subscribe('presence-' + btoa(`groupId-playbackStatus-${group.id}`))
      this.metadata = socket.subscribe('presence-' + btoa(`groupId-metadataStatus-${group.id}`))

      this.playback.bind('update', status => {
        this.set({ status })
      })

      this.metadata.bind('update', meta => {
        this.set({ meta })
      })
    },

    ondestroy() {
      const { group } = this.get()
      const { socket } = this.store.get()

      this.playback.disconnect()
      this.metadata.disconnect()
    },

    components: {
      Tracker: './Tracker.html'
    }
  }
</script>

<style>
  .container {
    align-items: center;
    background: #131313;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .backdrop {
    filter: blur(17px) brightness(0.3) saturate(1.6);
    transition: 0.4s all;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1.25);
    width: 100%;
  }
</style>
