<form on:submit="previous(event)">
  <button disabled={disabled}>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <title>{disabled ? "No previous track" : "Previous"}</title>
      <path d="M6 6h2v12H6zm3.5 6l8.5 6V6z" />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </button>
</form>

<script>
  import { Previous } from '../mutations'

  export default {
    data() {
      return {
        disabled: false
      }
    },
    methods: {
      previous(event) {
        let { group } = this.get()

        event.preventDefault()

        Previous({ group: group.id })
      }
    }
  }
</script>

<style>
  form {
    display: contents;
  }

  button {
    background: transparent;
    cursor: pointer;
    padding: 0;
    border: 0;
    opacity: 0.68;
    transition: 0.3s all;
  }

  button:hover,
  button:focus {
    opacity: 1;
    transition: 0.12s all;
  }

  button[disabled] {
    opacity: 0.1;
    cursor: cancel;
  }

  button svg {
    display: block;
    fill: white;
  }
</style>
