<section>
  <CoverArt track={track} />
  <menu>
    <PrevButton group={group} disabled={!track.canSkipBack} />
    <PlayPause group={group} isPlaying={track.isPlaying} />
    <NextButton group={group} disabled={!track.canSkip} />
  </menu>
  <Progress position={track.position} duration={track.duration} isPlaying={track.isPlaying} />
</section>

<script>
  export default {
    data() {
      return {
        track: {
          position: 0,
          duration: 0
        }
      }
    },
    components: {
      CoverArt: './CoverArt.html',
      Progress: './Progress.html',
      PlayPause: './PlayPause.html',
      NextButton: './NextButton.html',
      PrevButton: './PrevButton.html'
    }
  }
</script>

<style>
  section {
    flex-grow: 1;
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  menu {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    padding: 0;
    width: 100%;
  }
</style>
